## Notebook to generate Pandas Profiling reports, for better Exploratory Data Analysis

#### To install pandas profiling package, run the following command in Jupyter cell:  
! pip install pandas-profiling[notebook]

In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
from datetime import datetime

pd.options.display.float_format = "{:.2f}".format
%load_ext autotime

time: 609 Âµs (started: 2021-08-11 11:42:58 +00:00)

### 1. Creating profiling report for age_gender_bkts file

In [5]:
df = pd.read_csv('../data/original/age_gender_bkts.csv')
df.shape

(420, 5)

In [6]:
df.head()

  age_bucket country_destination gender  population_in_thousands    year
0       100+                  AU   male                     1.00 2015.00
1      95-99                  AU   male                     9.00 2015.00
2      90-94                  AU   male                    47.00 2015.00
3      85-89                  AU   male                   118.00 2015.00
4      80-84                  AU   male                   199.00 2015.00

In [13]:
df[df.country_destination == 'AU'].population_in_thousands.sum()

23923.0

In [15]:
df[(df.country_destination == 'AU') & (df.gender == 'female')]

   age_bucket country_destination  gender  population_in_thousands    year
21       100+                  AU  female                     4.00 2015.00
22      95-99                  AU  female                    25.00 2015.00
23      90-94                  AU  female                    94.00 2015.00
24      85-89                  AU  female                   179.00 2015.00
25      80-84                  AU  female                   252.00 2015.00
26      75-79                  AU  female                   338.00 2015.00
27      70-74                  AU  female                   438.00 2015.00
28      65-69                  AU  female                   592.00 2015.00
29      60-64                  AU  female                   660.00 2015.00
30      55-59                  AU  female                   739.00 2015.00
31      50-54                  AU  female                   798.00 2015.00
32      45-49                  AU  female                   793.00 2015.00
33      40-44                  AU  female                   838.00 2015.00
34      35-39                  AU  female                   801.00 2015.00
35      30-34                  AU  female                   865.00 2015.00
36      25-29                  AU  female                   851.00 2015.00
37      20-24                  AU  female                   787.00 2015.00
38      15-19                  AU  female                   737.00 2015.00
39      10-14                  AU  female                   707.00 2015.00
40        5-9                  AU  female                   745.00 2015.00
41        0-4                  AU  female                   781.00 2015.00

In [8]:
profile = ProfileReport(df, title="Age Gender Buckets Profiling Report", explorative=True)
profile.to_file('../reports/age_gender_bkts.html')

### 2. Viewing countries file

In [11]:
df = pd.read_csv('../data/original/countries.csv')
df.shape

(10, 7)

In [13]:
df

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06
5,GB,54.633220,-3.432277,6883.6590,243610.0,eng,0.00
6,IT,41.873990,12.564167,8636.6310,301340.0,ita,89.40
7,NL,52.133057,5.295250,7524.3203,41543.0,nld,63.22
8,PT,39.553444,-7.839319,7355.2534,92090.0,por,95.45
9,US,36.966427,-95.844030,0.0000,9826675.0,eng,0.00

### 3. Creating profiling report for entire sessions file failed, creating for its subsample

In [32]:
df = pd.read_csv('../data/original/sessions.csv')
df.shape

(10567737, 6)

In [33]:
df.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.00
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.00
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.00
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.00
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.00

In [34]:
df.describe()

       secs_elapsed
count   10431706.00
mean       19405.81
std        88884.24
min            0.00
25%          229.00
50%         1147.00
75%         8444.00
max      1799977.00

In [35]:
profile = ProfileReport(df.sample(100_000).reset_index(drop=True), title="Users Profiling Report", explorative=True)
profile.to_file('../reports/sessions.html')

Summarize dataset:   0%|          | 0/19 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### 4. Creating profiling report for train_users_2 file

In [16]:
df = pd.read_csv('../data/original/train_users_2.csv')
df.shape

(213451, 16)

In [7]:
df.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.00,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.00,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.00,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.00,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [16]:
df.date_account_created = df.date_account_created.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [25]:
df.timestamp_first_active = df.timestamp_first_active.apply(lambda x: datetime.strptime(str(x), '%Y%m%d%H%M%S'))

In [28]:
df.date_first_booking = df.date_first_booking.apply(lambda x: datetime.strptime(x, '%Y-%m-%d') if pd.notna(x) else None)

In [29]:
df.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,2009-03-19 04:32:55,NaT,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,2009-05-23 17:48:09,NaT,MALE,38.00,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,2009-06-09 23:12:47,2010-08-02,FEMALE,56.00,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,2009-10-31 06:01:29,2012-09-08,FEMALE,42.00,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,2009-12-08 06:11:05,2010-02-18,-unknown-,41.00,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [30]:
profile = ProfileReport(df, title="Users Profiling Report", explorative=True)
profile.to_file('../reports/train_users_2.html')

Summarize dataset:   0%|          | 0/29 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [18]:
df[df.age > 1000].country_destination.value_counts()

NDF      405
US       259
other     44
FR        19
IT        13
GB        10
ES         9
DE         7
CA         6
NL         5
AU         1
PT         1
Name: country_destination, dtype: int64

In [37]:
df[df.date_first_booking.isna()].country_destination.value_counts()

NDF    124543
Name: country_destination, dtype: int64

\[ DCG_k=\sum_{i=1}^k\frac{2^{rel_i}-1}{\log_2{\lefti+1\righti+1\right}}, \]
\[ nDCG_k=\frac{DCG_k}{IDCG_k}, \]

### 5. Creating profiling report for train_users_2 file

In [19]:
df = pd.read_csv('../data/original/test_users.csv')
df.shape

(62096, 15)

In [20]:
df.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,5uwns89zht,2014-07-01,20140701000006,NaN,FEMALE,35.00,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
1,jtl0dijy2j,2014-07-01,20140701000051,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
2,xx0ulgorjt,2014-07-01,20140701000148,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome
3,6c6puo6ix0,2014-07-01,20140701000215,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE
4,czqhjk3yfe,2014-07-01,20140701000305,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari

In [21]:
df.date_account_created = df.date_account_created.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [22]:
df.timestamp_first_active = df.timestamp_first_active.apply(lambda x: datetime.strptime(str(x), '%Y%m%d%H%M%S'))

In [23]:
df.date_first_booking = df.date_first_booking.apply(lambda x: datetime.strptime(x, '%Y-%m-%d') if pd.notna(x) else None)

In [24]:
df.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,5uwns89zht,2014-07-01,2014-07-01 00:00:06,None,FEMALE,35.00,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
1,jtl0dijy2j,2014-07-01,2014-07-01 00:00:51,None,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
2,xx0ulgorjt,2014-07-01,2014-07-01 00:01:48,None,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome
3,6c6puo6ix0,2014-07-01,2014-07-01 00:02:15,None,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE
4,czqhjk3yfe,2014-07-01,2014-07-01 00:03:05,None,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari

In [28]:
profile = ProfileReport(df, title="Test Users Profiling Report", explorative=True)
profile.to_file('../reports/test_users.html')

Summarize dataset:   0%|          | 0/28 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]