### An attempt to balance classes in training dataset

In [5]:
import sys
sys.path.append('../src/')
import filter_features as ff
import pandas as pd

In [6]:
df = pd.read_parquet('../data/processed/train_features.parquet')
df.shape

(213451, 1105)

In [7]:
df['nan_counts'] = df.isnull().sum(axis=1)

In [8]:
df[['country_destination', 'nan_counts']].head()

  country_destination  nan_counts
0                 NDF        1085
1                 NDF        1085
2                  US        1085
3               other        1085
4                  US        1085

In [13]:
df.country_destination.value_counts()

NDF      124543
US        62376
other     10094
FR         5023
IT         2835
GB         2324
ES         2249
CA         1428
DE         1061
NL          762
AU          539
PT          217
Name: country_destination, dtype: int64

In [11]:
df = df.sort_values(by=['country_destination', 'nan_counts'], ascending=[True, True])
df.reset_index(drop=True, inplace=True)

In [12]:
df.head()

,user_id,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,...,deltas_no_num_outliers,secs_elapsed_mean,secs_elapsed_std,secs_elapsed_max,secs_elapsed_min,secs_elapsed_median,secs_elapsed_mode,secs_elapsed_mode_count,device_count,nan_counts
0,s66w91j0y7,FEMALE,28.0,basic,0,en,direct,direct,untracked,Web,...,7.0,39621.497717,164291.995336,1487383.0,0.0,3305.0,713.0,3.0,2.0,279
1,9o12wb0jeb,-unknown-,42.0,basic,0,en,direct,direct,linked,Web,...,8.0,14417.816583,41111.161821,497616.0,0.0,3634.5,29.0,2.0,2.0,286
2,dbkeg7u7tu,MALE,23.0,facebook,0,en,seo,google,linked,Web,...,6.0,28855.781659,129938.096336,1314963.0,0.0,1292.0,28.0,2.0,4.0,289
3,qe5tnxmn4y,MALE,26.0,basic,0,en,direct,direct,untracked,Web,...,12.0,19538.686424,89629.372564,1011499.0,0.0,693.0,27.0,4.0,4.0,293
4,lhgslic0bg,MALE,30.0,basic,0,en,direct,direct,linked,Web,...,4.0,40610.519231,159223.055975,1548479.0,0.0,1013.5,0.0,10.0,1.0,296

In [20]:
tmp = df.groupby('country_destination', as_index=False).head(10000)
tmp.shape

(46438, 1106)

In [21]:
tmp.country_destination.value_counts()

NDF      10000
US       10000
other    10000
FR        5023
IT        2835
GB        2324
ES        2249
CA        1428
DE        1061
NL         762
AU         539
PT         217
Name: country_destination, dtype: int64

In [23]:
df.to_parquet('../data/processed/train_features_undersample.parquet')
df.shape

(213451, 1106)