### Generate Naive predictions, NDF + US

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/original/test_users.csv')
df.shape

(62096, 15)

In [4]:
df.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,5uwns89zht,2014-07-01,20140701000006,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
1,jtl0dijy2j,2014-07-01,20140701000051,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
2,xx0ulgorjt,2014-07-01,20140701000148,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome
3,6c6puo6ix0,2014-07-01,20140701000215,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE
4,czqhjk3yfe,2014-07-01,20140701000305,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari

In [14]:
ids = df.id.tolist()

In [15]:
ids = [[el] * 2 for el in ids]
ids = [e for el in ids for e in el]

In [16]:
preds = ['NDF', 'US'] * len(df)

In [17]:
res = pd.DataFrame({'id': ids, 'country_of_destination': preds})
res.shape

(124192, 2)

In [18]:
res.head()

           id country_of_destination
0  5uwns89zht                    NDF
1  5uwns89zht                     US
2  jtl0dijy2j                    NDF
3  jtl0dijy2j                     US
4  xx0ulgorjt                    NDF

In [19]:
res.to_csv('../data/results/naive.csv', index=False)
res.shape

(124192, 2)