### 2.0 Checking which action values are more common for Non-NDF users versus NDF users

In [17]:
tmp = ss[ss.user_id.isin(df[df.country_destination != 'NDF'].id.tolist())].action.value_counts()
tmp = pd.DataFrame(tmp)
tmp['action'] = tmp.action / tmp.action.sum()
tmp['ratio'] = tmp.action
tmp['action'] = tmp.index
tmp.reset_index(drop=True, inplace=True)
tmp['order'] = tmp.index
tmp.shape

(302, 3)

In [19]:
non_ndf = tmp.copy(deep=True)

In [20]:
tmp = ss[ss.user_id.isin(df[df.country_destination == 'NDF'].id.tolist())].action.value_counts()
tmp = pd.DataFrame(tmp)
tmp['action'] = tmp.action / tmp.action.sum()
tmp['ratio'] = tmp.action
tmp['action'] = tmp.index
tmp.reset_index(drop=True, inplace=True)
tmp['order'] = tmp.index
tmp.shape

(308, 3)

In [21]:
ndf = tmp.copy(deep=True)

In [22]:
non_ndf.head()

                  action  ratio  order
0                   show   0.22      0
1            personalize   0.09      1
2                  index   0.09      2
3         search_results   0.08      3
4  ajax_refresh_subtotal   0.06      4

In [23]:
ndf.head()

             action  ratio  order
0              show   0.25      0
1             index   0.08      1
2       personalize   0.08      2
3    search_results   0.07      3
4  similar_listings   0.05      4

In [24]:
tmp = non_ndf.merge(ndf, on='action', how='left')

In [25]:
tmp.head()

                  action  ratio_x  order_x  ratio_y  order_y
0                   show     0.22        0     0.25     0.00
1            personalize     0.09        1     0.08     2.00
2                  index     0.09        2     0.08     1.00
3         search_results     0.08        3     0.07     3.00
4  ajax_refresh_subtotal     0.06        4     0.05     5.00

In [171]:
tmp[(tmp.order_x < tmp.order_y) & (tmp.ratio_x > tmp.ratio_y) & (tmp.ratio_x > 0.01)]

                   action  ratio_x  order_x  ratio_y  order_y
1             personalize     0.09        1     0.08     2.00
4   ajax_refresh_subtotal     0.06        4     0.05     5.00
8                  lookup     0.03        8     0.02     9.00
10                 create     0.02       10     0.02    13.00
11              dashboard     0.02       11     0.01    15.00
14                   edit     0.01       14     0.01    18.00
15        track_page_view     0.01       15     0.01    16.00
16              requested     0.01       16     0.00    45.00
18                    qt2     0.01       18     0.00    28.00

In [173]:
tmp[(tmp.order_x > tmp.order_y) & (tmp.ratio_x < tmp.ratio_y) & (tmp.ratio_x > 0.01)]

                action  ratio_x  order_x  ratio_y  order_y
7               update     0.03        7     0.05     6.00
9   social_connections     0.02        9     0.03     8.00
13             reviews     0.01       13     0.02    10.00
17              active     0.01       17     0.02    11.00

In [13]:
users.shape

(73815, 15)

time: 8.47 ms (started: 2021-08-11 12:46:01 +00:00)

In [17]:
users.country_destination.value_counts()

NDF      45041
US       20095
other     3655
FR        1435
IT         979
GB         731
ES         707
CA         440
DE         250
NL         247
AU         152
PT          83
Name: country_destination, dtype: int64

time: 18.4 ms (started: 2021-08-11 12:48:34 +00:00)

In [19]:
users.sample(1_000, random_state=42).country_destination.value_counts()

NDF      623
US       271
other     43
FR        19
IT        12
GB        11
ES        10
CA         4
PT         2
AU         2
NL         2
DE         1
Name: country_destination, dtype: int64

time: 17.8 ms (started: 2021-08-11 12:49:31 +00:00)

In [18]:
sessions[sessions.user_id.isin(users.sample(1_000, random_state=42).id.tolist())].action_info.nunique()

242

time: 511 ms (started: 2021-08-11 12:49:15 +00:00)

### 2.1 Checking which action_type values are more common for Non-NDF users versus NDF users

In [27]:
col = 'action_type'
tmp = ss[ss.user_id.isin(df[df.country_destination != 'NDF'].id.tolist())][col].value_counts()
tmp = pd.DataFrame(tmp)
tmp[col] = tmp[col] / tmp[col].sum()
tmp['ratio'] = tmp[col]
tmp[col] = tmp.index
tmp.reset_index(drop=True, inplace=True)
tmp['order'] = tmp.index
tmp.shape

(9, 3)

In [28]:
non_ndf = tmp.copy(deep=True)

In [29]:
tmp = ss[ss.user_id.isin(df[df.country_destination == 'NDF'].id.tolist())][col].value_counts()
tmp = pd.DataFrame(tmp)
tmp[col] = tmp[col] / tmp[col].sum()
tmp['ratio'] = tmp[col]
tmp[col] = tmp.index
tmp.reset_index(drop=True, inplace=True)
tmp['order'] = tmp.index
tmp.shape

(9, 3)

In [30]:
ndf = tmp.copy(deep=True)

In [31]:
non_ndf.head()

  action_type  ratio  order
0        view   0.34      0
1        data   0.23      1
2       click   0.22      2
3   -unknown-   0.12      3
4      submit   0.06      4

In [32]:
ndf.head()

  action_type  ratio  order
0        view   0.34      0
1        data   0.25      1
2       click   0.21      2
3   -unknown-   0.11      3
4      submit   0.08      4

In [33]:
tmp = non_ndf.merge(ndf, on=col, how='left')

In [34]:
tmp

        action_type  ratio_x  order_x  ratio_y  order_y
0              view     0.34        0     0.34        0
1              data     0.23        1     0.25        1
2             click     0.22        2     0.21        2
3         -unknown-     0.12        3     0.11        3
4            submit     0.06        4     0.08        4
5      message_post     0.01        5     0.01        5
6   booking_request     0.00        6     0.00        7
7  partner_callback     0.00        7     0.00        6
8  booking_response     0.00        8     0.00        8

In [37]:
tmp[round(tmp.ratio_x, 2) != round(tmp.ratio_y, 2)]

  action_type  ratio_x  order_x  ratio_y  order_y
1        data     0.23        1     0.25        1
2       click     0.22        2     0.21        2
3   -unknown-     0.12        3     0.11        3
4      submit     0.06        4     0.08        4

### 2.2 Checking which device_type values are more common for Non-NDF users versus NDF users

In [39]:
col = 'device_type'
tmp = ss[ss.user_id.isin(df[df.country_destination != 'NDF'].id.tolist())][col].value_counts()
tmp = pd.DataFrame(tmp)
tmp[col] = tmp[col] / tmp[col].sum()
tmp['ratio'] = tmp[col]
tmp[col] = tmp.index
tmp.reset_index(drop=True, inplace=True)
tmp['order'] = tmp.index
tmp.shape

(14, 3)

In [40]:
non_ndf = tmp.copy(deep=True)

In [41]:
tmp = ss[ss.user_id.isin(df[df.country_destination == 'NDF'].id.tolist())][col].value_counts()
tmp = pd.DataFrame(tmp)
tmp[col] = tmp[col] / tmp[col].sum()
tmp['ratio'] = tmp[col]
tmp[col] = tmp.index
tmp.reset_index(drop=True, inplace=True)
tmp['order'] = tmp.index
tmp.shape

(13, 3)

In [42]:
ndf = tmp.copy(deep=True)

In [43]:
non_ndf.head()

                        device_type  ratio  order
0                       Mac Desktop   0.44      0
1                   Windows Desktop   0.30      1
2                            iPhone   0.11      2
3                       iPad Tablet   0.07      3
4  Android App Unknown Phone/Tablet   0.03      4

In [44]:
ndf.head()

                        device_type  ratio  order
0                       Mac Desktop   0.35      0
1                   Windows Desktop   0.27      1
2                            iPhone   0.17      2
3                       iPad Tablet   0.07      3
4  Android App Unknown Phone/Tablet   0.06      4

In [45]:
tmp = non_ndf.merge(ndf, on=col, how='left')

In [46]:
tmp

                         device_type  ratio_x  order_x  ratio_y  order_y
0                        Mac Desktop     0.44        0     0.35     0.00
1                    Windows Desktop     0.30        1     0.27     1.00
2                             iPhone     0.11        2     0.17     2.00
3                        iPad Tablet     0.07        3     0.07     3.00
4   Android App Unknown Phone/Tablet     0.03        4     0.06     4.00
5                      Android Phone     0.03        5     0.05     5.00
6                          -unknown-     0.01        6     0.02     6.00
7                             Tablet     0.01        7     0.01     7.00
8                      Linux Desktop     0.00        8     0.00     8.00
9                         Chromebook     0.00        9     0.00     9.00
10                         iPodtouch     0.00       10     0.00    10.00
11                        Blackberry     0.00       11     0.00    11.00
12                     Windows Phone     0.00       12     0.00    12.00
13                       Opera Phone     0.00       13      NaN      NaN

In [47]:
tmp[round(tmp.ratio_x, 2) != round(tmp.ratio_y, 2)]

                         device_type  ratio_x  order_x  ratio_y  order_y
0                        Mac Desktop     0.44        0     0.35     0.00
1                    Windows Desktop     0.30        1     0.27     1.00
2                             iPhone     0.11        2     0.17     2.00
4   Android App Unknown Phone/Tablet     0.03        4     0.06     4.00
5                      Android Phone     0.03        5     0.05     5.00
6                          -unknown-     0.01        6     0.02     6.00
13                       Opera Phone     0.00       13      NaN      NaN

### 2.3 Checking which action_detail values are more common for Non-NDF users versus NDF users

In [48]:
col = 'action_detail'
tmp = ss[ss.user_id.isin(df[df.country_destination != 'NDF'].id.tolist())][col].value_counts()
tmp = pd.DataFrame(tmp)
tmp[col] = tmp[col] / tmp[col].sum()
tmp['ratio'] = tmp[col]
tmp[col] = tmp.index
tmp.reset_index(drop=True, inplace=True)
tmp['order'] = tmp.index
tmp.shape

(126, 3)

In [49]:
non_ndf = tmp.copy(deep=True)

In [50]:
tmp = ss[ss.user_id.isin(df[df.country_destination == 'NDF'].id.tolist())][col].value_counts()
tmp = pd.DataFrame(tmp)
tmp[col] = tmp[col] / tmp[col].sum()
tmp['ratio'] = tmp[col]
tmp[col] = tmp.index
tmp.reset_index(drop=True, inplace=True)
tmp['order'] = tmp.index
tmp.shape

(125, 3)

In [51]:
ndf = tmp.copy(deep=True)

In [52]:
non_ndf.head()

                 action_detail  ratio  order
0          view_search_results   0.18      0
1                    -unknown-   0.12      1
2                           p3   0.12      2
3      wishlist_content_update   0.10      3
4  change_trip_characteristics   0.07      4

In [53]:
ndf.head()

             action_detail  ratio  order
0      view_search_results   0.19      0
1                       p3   0.13      1
2                -unknown-   0.11      2
3  wishlist_content_update   0.09      3
4             user_profile   0.06      4

In [54]:
tmp = non_ndf.merge(ndf, on=col, how='left')

In [55]:
tmp[(tmp.order_x < tmp.order_y) & (tmp.ratio_x > tmp.ratio_y) & (tmp.ratio_x > 0.01)]

                  action_detail  ratio_x  order_x  ratio_y  order_y
1                     -unknown-     0.12        1     0.11     2.00
4   change_trip_characteristics     0.07        4     0.06     6.00
7                message_thread     0.02        7     0.01    13.00
10                    dashboard     0.02       10     0.01    12.00
12                 message_post     0.01       12     0.01    16.00
13                 edit_profile     0.01       13     0.01    15.00
17                           p5     0.01       17     0.00    44.00

In [56]:
tmp[(tmp.order_x > tmp.order_y) & (tmp.ratio_x < tmp.ratio_y) & (tmp.ratio_x > 0.01)]

      action_detail  ratio_x  order_x  ratio_y  order_y
2                p3     0.12        2     0.13     1.00
6      user_profile     0.04        6     0.06     4.00
9    update_listing     0.02        9     0.04     7.00
15   user_wishlists     0.01       15     0.02    10.00
16  listing_reviews     0.01       16     0.02     9.00

In [1]:
import pandas as pd

In [2]:
ss = pd.read_csv('../data/original/sessions.csv')
ss.shape

(10567737, 6)

In [3]:
users = pd.read_csv('../data/original/train_users_2.csv')
users.shape

(213451, 16)

In [4]:
test = pd.read_csv('../data/original/test_users.csv')
test.shape

(62096, 15)

In [6]:
users.nunique()

id                         213451
date_account_created         1634
timestamp_first_active     213451
date_first_booking           1976
gender                          4
age                           127
signup_method                   3
signup_flow                    17
language                       25
affiliate_channel               8
affiliate_provider             18
first_affiliate_tracked         7
signup_app                      4
first_device_type               9
first_browser                  52
country_destination            12
dtype: int64

In [7]:
test.nunique()

id                         62096
date_account_created          92
timestamp_first_active     62096
date_first_booking             0
gender                         4
age                          124
signup_method                  4
signup_flow                    7
language                      24
affiliate_channel              7
affiliate_provider            17
first_affiliate_tracked        7
signup_app                     4
first_device_type              9
first_browser                 31
dtype: int64

In [16]:
users.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [15]:
ss.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

In [8]:
ss_train = ss[ss.user_id.isin(users.id.tolist())]

In [9]:
ss_test = ss[ss.user_id.isin(test.id.tolist())]

In [13]:
len(set(ss_train.device_type.unique()).intersection(set(ss_test.device_type.unique())))

14

In [14]:
len(ss_test.device_type.unique())

14